#mainHeader{
    text-align: center;
    color: #131B23;
    margin-top: 25px;
}

.bodyText{
    text-align: center;
    color: #131B23;
    margin-top: 25px;
}





/*
Color scheme:
    French Blue:       #2274A5
    Bone:              #E7DFC6
    Alice Blue (White):#E9F1F7
    Rich Black:        #131B23
    Tea Green:         #DBEBC0
    */ 